*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    background-color: rgb(164, 223, 164);
}
body{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
.grid-container{
    display: grid;
    width: 100%;
    max-width: 1400px;
    height:100%;
    max-height: 900px;
    outline: 2px solid;
    margin: 20px auto;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows: repeat(9,1fr);
    gap: 5px;
    overflow: auto;
   
}
.grid-item{
    border: 1px solid blue;
    color: rgb(12, 12, 12);
    text-align: left;
    font-size: 2em ; 
}
.item6{
    background-color: rgb(145, 190, 93);
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    padding-top: 9px;
}
.item1{
background-color: rgb(145, 190, 93);
color: black;
font-size: 2em;
text-align: center;
text-align-last: center;
padding-top: 9px;
padding-left: 30px;
grid-column-start: 2;
grid-column-end: 6;
grid-row-start: 1;
grid-row-end: 1;
overflow: auto;
}
.item2{
   background-color: rgb(91, 172, 204); 
   grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 8;
    padding-left: 20px;
    padding-bottom: 10 px;
    text-align: left;
    text-align-last: center;
    overflow: auto;
}
.item3{
    background-color: rgb(91, 172, 204);
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 8;
    text-align: center;
    overflow: auto;
}
.item4{
    background-color: rgb(145, 190, 93);
    grid-column: 1/6;
    grid-row: 8/10;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
    font-size:x-large;
    overflow: auto;
}
#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 100%;
    width: 300%;
}
#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}
.imagenes{
    height: 100%;
    width: 100%;
}
.carrusel-elemento {
    float: left;
    width: 33.333%;
}
@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

#encabezado-general{
    background-color:rgb(159, 194, 235);
    padding: 0px;
    text-align: start;
    border-style: solid;
    border-width: 1rem;
    border-color:rgb(145, 190, 93);
}
#area-logo{
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 1px;
}
#area-menu{
  padding: 5px;
  text-align: right;
}
#area-titulo{
  position: absolute;
  top: 5px;
  left: 70px;
  padding: 5px;
}
