*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}


.grid-container{
    display: grid;
    width: 90%;
    height: 800px;
    outline: 2px solid;
    margin: 60px auto;
    grid-template-columns:repeat(5,1fr);
    
    grid-template-rows: repeat(8,1fr);
    /*row-gap: 5 px;
    column-gap: 5px;*/
    gap: 5px;
   
}
.grid-item{
    border: 1px solid blue;
    color: rgb(12, 12, 12);
    text-align: left;
    font-size: 2em; 
}
.item1{
background-color: rgb(164, 223, 164);
color: black;
font-size: 2em;
text-align: center;
grid-column-start: 1;
grid-column-end: 6;
grid-row-start: 1;
grid-row-end: 3;
}

.item2{
   background-color: blueviolet; 
   grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 8;
  
}
.item3{
    background-color: cornflowerblue;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;

}
.item4{
background-color: coral;
grid-column: 3/6;
grid-row: 4/8;

}

.item5{
    background-color: darkcyan;
    grid-column: 1/6;
   
}
